<div class="container mt-5">
  <!-- Header Section -->
  <div class="row">
    <div class="col-md-6">
      <section class="mt-4">
        <h1 class="mt-3">Dirk Soentjens</h1>
        <h2 class="text-muted">Frontend Developer</h2>
        <img
          src="dirk_sea.jpeg"
          alt="Dirk Soentjens"
          class="rounded img-fluid"
        />
        <p class="lead">
          I am a passionate frontend developer who loves to experiment and build
          features for all kinds of web applications. Since my high school days,
          I've always had an interest in coding and computers. My interest
          helped me go from building single-page websites to more complex
          systems. I am able to easily adapt to the documentation, standards and
          best practices of the frameworks I am asked to work with. I else enjoy
          trying out new things and learning from them. I can empathize with the
          users, and I understand how important it is to make sure the complex
          systems that I build are usable by them. Furthermore, I believe that
          usability is key in the final product.<br /><br />
          Currently, I am looking for opportunities to work for a company that
          promotes development and stability. A place where I can fully utilize
          my experience, learn and grow professionally.
        </p>
      </section>
      <!-- Contact Section -->
      <section class="mt-4">
        <h4 class="border-bottom border-top py-2 text-uppercase">Contact</h4>
        <ul class="list-unstyled">
          <li>
            <p>Wessem, The Netherlands</p>
          </li>
          <li>
            <p>0031-(0)6 10 65 94 92</p>
          </li>
          <li>
            <!-- <p>dirk.soentjens@gmail.com</p> -->
          </li>
          <li>
            <p>linkedin.com/in/dirk-soentjens/</p>
          </li>
        </ul>
      </section>

      <!-- Skills Section -->
      <section class="mt-4">
        <h4 class="border-bottom border-top py-2 text-uppercase">
          Interpersonal skills
        </h4>
        <p>
          Problem solving, Creativity, Communication, Mentoring, Pair
          programming, Reviewing, Approachability and Helpfulness
        </p>
      </section>
      <!-- Skills Section -->
      <section class="mt-4">
        <h4 class="border-bottom border-top py-2 text-uppercase">
          Industry knowledge
        </h4>
        <p>
          Wireframes, Techdesigns, design documents, knowledge sharing, scrum,
          Kanban, Jira, Object Oriented Programming (OOP), GIT
        </p>
      </section>

      <!-- Languages Section -->
      <section class="mt-4">
        <h4 class="border-bottom border-top py-2 text-uppercase">Languages</h4>
        <p>Dutch (Native), English (Fluent), German (Fluent)</p>
      </section>
      <!-- Education Section -->
      <section>
        <h4 class="border-bottom border-top py-2 text-uppercase">Education</h4>
        <ul class="list-unstyled">
          <li>
            <h5>Hogeschool voor de Kunsten Utrecht</h5>
            <p>Bachelor of Arts, Interaction Design (2002 - 2006)</p>
          </li>
          <li>
            <h5>MTS Sint-Lucas Boxtel</h5>
            <p>Multimedia Design (1998 - 2002)</p>
          </li>
        </ul>
      </section>
    </div>

    <div class="col-md-6">
      <h4 class="border-bottom border-top py-2 text-uppercase">Experience</h4>
      <ul class="list-unstyled">
        <li>
          <h5>Software Engineer</h5>
          <p class="px-2">
            Team Frontend Workspace Axxerion Spacewell, Eindhoven NL, 2023 -
            February 2025
          </p>
          <p><strong>Primary tech Stack:</strong></p>
          <ul>
            <li>
              <p>
                Vanilla Javascript, JQuery3, React, Typescript, Docker, MySql,
                JAVA, JBOSS, ANT, MAVEN
              </p>
            </li>
          </ul>
          <p><strong>Secondary tech Stack:</strong></p>
          <ul>
            <li>
              <p>
                GROOVY, SSH, YAML, Jenkins, devops, release cycle/processes,
                Cucumber tests.
              </p>
            </li>
          </ul>
          <p><strong>Primary responsibility:</strong></p>
          <ul>
            <li>
              <p>Lifting NodeJS and NPM packages for Axxerion.</p>
            </li>
            <li>
              <p>Lifing custom component Jquery library.</p>
            </li>
            <li>
              <p>Develop icon-mapping-tool in React.</p>
            </li>
            <li>
              <p>Fixing frontend test.</p>
            </li>
            <li>
              <p>Solving Pentests.</p>
            </li>
            <li>
              <p>Daily standups with the frontend team.</p>
            </li>
          </ul>
          <p><strong>Technical challenges:</strong></p>
          <ul>
            <li>
              <p>Develop sollutions to bring all product to one UI.</p>
            </li>
            <li>
              <p>Working on Cobundo (frontend features in React, typescript)</p>
            </li>
            <li>
              <p>Learning tests setup with Cucumber and Gherkin</p>
            </li>
            <li>
              <p>Learning multiple frontend courses udemy.</p>
            </li>
          </ul>
        </li>

        <li>
          <h5>Frontend Developer</h5>
          <p class="px-2">
            Dutch Beauty Group, Eindhoven NL, 2021 - February 2023
          </p>
          <p><strong>Primary tech Stack:</strong></p>
          <ul>
            <li>
              <p>
                Vue.js, Vue3, Nuxt, Nuxt3, Vuetify, Vuex, Redux, Vanilla
                javascript, Docker, Github, GitActions, Sonarcube, Agile Methods
              </p>
            </li>
          </ul>
          <p><strong>Secondary tech Stack:</strong></p>
          <ul>
            <li>
              <p>PHP Laravel, Kubernetes, MySql</p>
            </li>
          </ul>
          <p><strong>Primary responsibility:</strong></p>
          <ul>
            <li>
              <p>Develop and maintain a webshop build from scratch.</p>
            </li>
            <li>
              <p>Develop and maintain a admin-frontend tool.</p>
            </li>
          </ul>
          <p><strong>Technical challenges:</strong></p>
          <ul>
            <li>
              <p>
                Lead implementation technical architecture statemanagement
                admin-frontend tool.
              </p>
            </li>
            <li>
              <p>Translate a pixel perfect design into a webshop.</p>
            </li>
            <li>
              <p>Learn Vue3, Nuxt3, Typescript, Pinia</p>
            </li>
            <li>
              <p>Connext the microservice architecture to the frontend.</p>
            </li>
            <li>
              <p>Define the DoD (Defintion of done).</p>
            </li>
            <li>
              <p>Mentor and teach newcommers.</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- Download Resume -->
  <div class="text-center my-5">
    <a
      href="assets/Resume_DirkSoentjens_EN.pdf"
      class="btn btn-primary"
      download
      >Download CV (PDF)</a
    >
  </div>
</div>
