<div class="container mt-5">
  <!-- Header Section -->
  <div class="row">
    <div class="col-md-6">
      <section class="mt-4">
        <h1 class="mt-3">Dirk Soentjens</h1>
        <h2 class="text-muted">Frontend Developer</h2>
        <img
          src="assets/dirk_sea.jpeg"
          alt="Dirk Soentjens"
          class="rounded-circle img-fluid"
          style="width: 150px; height: 150px"
        />
        <p class="lead">
          I am a passionate frontend developer who loves to experiment and build
          features for all kinds of web applications. Since my high school days,
          I've always had an interest in coding and computers. My interest
          helped me go from building single-page websites to more complex
          systems. I am able to easily adapt to the documentation, standards and
          best practices of the frameworks I am asked to work with. I else enjoy
          trying out new things and learning from them. I can empathize with the
          users, and I understand how important it is to make sure the complex
          systems that I build are usable by them. Furthermore, I believe that
          usability is key in the final product.<br /><br />
          Currently, I am looking for opportunities to work for a company that
          promotes development and stability. A place where I can fully utilize
          my experience, learn and grow professionally.
        </p>
      </section>
      <!-- Projects Section -->
      <section class="mt-4">
        <h2 class="border-bottom pb-2">Projects</h2>
        <ul class="list-unstyled">
          <li>
            <h5>Project 1</h5>
            <p>Description of the project and technologies used.</p>
          </li>
          <li>
            <h5>Project 2</h5>
            <p>Description of the project and technologies used.</p>
          </li>
        </ul>
      </section>

      <!-- Skills Section -->
      <section class="mt-4">
        <h2 class="border-bottom pb-2">Skills</h2>
        <p>
          <strong>Interpersonal Skills:</strong> Problem solving, Creativity,
          Communication, Mentoring
        </p>
        <p><strong>Industry Knowledge:</strong> Wireframes, Scrum, OOP, Git</p>
      </section>

      <!-- Languages Section -->
      <section class="mt-4">
        <h2 class="border-bottom pb-2">Languages</h2>
        <p>Dutch (Native), English (Fluent), German (Fluent)</p>
      </section>
    </div>

    <div class="col-md-6">
      <h2 class="border-bottom pb-2">Experience</h2>
      <ul class="list-unstyled">
        <li>
          <h5>Interaction Modeler</h5>
          <p><strong>Tech Stack:</strong> C#, WPF, Expression Blend</p>
          <p>
            Developing MVPs, prototyping UI concepts, and working with a large
            design team.
          </p>
        </li>
        <li>
          <h5>Frontend Developer</h5>
          <p><strong>Tech Stack:</strong> Vue3, Nuxt, Vuetify, Docker</p>
          <p>
            Developed and maintained a webshop, admin tools, and led
            architecture implementation.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2 class="border-bottom pb-2">Education</h2>
      <ul class="list-unstyled">
        <li>
          <h5>Hogeschool voor de Kunsten Utrecht</h5>
          <p>Bachelor of Arts, Interaction Design (2002 - 2006)</p>
        </li>
        <li>
          <h5>MTS Sint-Lucas Boxtel</h5>
          <p>Multimedia Design (1998 - 2002)</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- Download Resume -->
  <div class="text-center mt-5">
    <a
      href="assets/Resume_DirkSoentjens_EN.pdf"
      class="btn btn-primary"
      download
      >Download CV (PDF)</a
    >
  </div>
</div>
